.button{
    cursor: pointer;
    border-radius: 20px;
    padding:0.5rem 1.5rem;
    font-weight: bold;
    background: #007bff;
    color:white;
    border:1px solid #090909;
    font-size: 20px;
    margin-right: 20px;
}

.button:hover,.button:active{
    background: #6c757d;
}